services:
  - name: docker:19.03.13-dind

include:
  - https://raw.githubusercontent.com/getindata/gitlab_cicd_templates/v0.1.15/dataops/gcp/aws_setup_template.yml
  - https://raw.githubusercontent.com/getindata/gitlab_cicd_templates/v0.1.15/dataops/cicd_template.yml

variables:
  DOCKER_REGISTRY: 747492200301.dkr.ecr.eu-central-1.amazonaws.com
  BLOB_CONFIG_PATH: ""
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
  GITLAB_CICD_IMAGE_TAG: aws-0.5.2

stages:
  - execute-dev
  - execute-release
